<!-- Landing Page HTML -->
<div class="container">
  <div class="landing-page-container">
    <!-- Navbar Section -->
    <!-- <nav class="navbar">
        <div class="brand">Vaultify-Digital Vault</div>
    </nav> -->
  </div>
  <!-- Main Content Section -->
  <div class="main-content">
    <!-- Project Title -->
    <div class="main-content-detail">
      <h1 class="title">Welcome to Vaultify</h1>
      <h4 class="description">Secure your files</h4>

      <!-- Get Started Button -->
      <button class="get-started-btn" (click)="navigateToLogin()">Get Started</button>

    </div>
  </div>
</div>